.header {
  height: 78px;
  width: 100%;
  background-color: black;
}
.input-box{
  width: 80%;
  padding: 7px;
  margin: 12px;
}
.search-button{
  height: 42px;
  margin: -13px;
  width: 97px;
  margin-top: -17px;
}

.home-page {
  color: white;
  padding: 18px;
  display: inline-block;
}

.cart-arrow {
  float: right;
  color: white;
  padding: 16px 95px;
  font-size: 28px;
}

.border {
  border: 1px solid black;
}

.h-200 {
  height: 200px;
}

.images {
  border: 1px solid;
  height: 119px;
  width: 150px;
  margin: 9px auto;
}

.box-bg {
  background-color: aliceblue!important;
  padding: 10px;
  margin: 41px;
}

.image {
  width: 100%;
  height: 100%;

}

.circle {
  background-color: white;
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 10px;
  margin: -49px 10px;
}

.number {
  color: black;
  font-size: 17px;
  margin-top: -3px;
  position: absolute;
  margin-left: 5px;
  font-weight: 700;
}

/* productdetails  */
.h-700 {
  height: 700px!important;
  background: linear-gradient(387deg, #034f5b, transparent);
  
}

.h-201 {
  height: 307px;
  width: 401px;
  margin: 22px auto;
  box-shadow: 2px 10px 32px
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.box {
  margin-top: 78px;
  background-color: antiquewhite;
  
}
.color-box{
  background-color:aliceblue;
  margin: 41px;
}
.text-box{
  background-color: antiquewhite;
  margin-top: 30px;
  margin: 41px;
}

/* productheader */

.details-header{
  height: 77px;
  background-color: #095f5f;
}
.home{
  color: white;
  padding: 14px;
  font-family: inherit;
}
.navbar{
  height: 53px;
  box-shadow: 1px 2px 10px;
}
.arrow{
  color: white;
    float: right;
    padding: -19px 16px;
    margin: -46px 101px;
    font-size: 25px!important;
}
.dot{
  background-color: white;
  height: 20px;
  width: 20px;
  position: absolute;
  border-radius: 10px;
  margin: -49px 10px;
}  
.category{
  margin-left: 554px;
}
.mt-26{
  margin-top: -26px;
}
a{
    text-decoration: none; 
    color: white;
}

.footer{
  height: 320px;
  background-color:#0e114c;
  
}
  .pro{
    color: white;
    text-align: center;
    font-size: 29px;
  }
  .border{
    border:1px solid white;
       height: 482px;
  }
  li{
    list-style: circle;
    color: white;
  }